@page
@using System.Text
@using Microsoft.AspNetCore.Html
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @{
        var builder = new StringBuilder();
        if (ViewData["datas"] is IAsyncEnumerable<MyClass> datas)
        {
            await foreach (var data in datas)
            {

                builder.AppendLine($"<span>{data.Id}</span><span>{data.Name}</span>");
            }
        }

        <div>
            @Html.Raw(builder.ToString())
        </div>
    }
</div>
